<!-- appcomponent
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span> gfgfgf </span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="auth">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #auth="matMenu">
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    mode="'over'"
    opened="false"
  >
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span> Menu </span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="navigation-list">
      <a
        class="navigation-item"
        mat-list-item
        routerLink="/route1"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">create</mat-icon
        ><span class="navigation-item-label">My first link</span>
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a
        class="navigation-item"
        mat-list-item
        routerLink="/route2"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">how_to_reg</mat-icon
        ><span class="navigation-item-label">My second link</span>
      </a>
      <a
        class="navigation-item"
        mat-list-item
        routerLink="/route3"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">add_comment</mat-icon
        ><span class="navigation-item-label">My third link</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-content-toolbar" color="primary">
    <a  routerLink="/landing"
        routerLinkActive="active" >H</a>
    <button
        mat-icon-button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        (tap)="drawer.toggle()"
      >
        <i class="material-icons">menu</i>
      </button>
      <span fxFlex fxLayout fxLayoutAlign="flex-end">
        <!-- You can place a search bar here or anything you like -->







          <span> mfyapp </span>
          <div fxFlex fxLayout fxLayoutAlign="flex-end">

            <a routerLink="/profile"
            routerLinkActive="active">
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
            </a>

            <a routerLink="/table"
            routerLinkActive="active">
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
            </a>

            <button mat-icon-button [matMenuTriggerFor]="auth">
              <mat-icon>person_outline</mat-icon>
            </button>


            <mat-menu #auth="matMenu">
              <a routerLink="/login"
              routerLinkActive="active">
              <button mat-menu-item>

                <mat-icon>exit_to_app</mat-icon>
                <span>Login</span>

              </button>
            </a>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </div>





















      </span>
    </mat-toolbar>
     <!-- <app-login fxLayoutAlign="center center" ></app-login> -->
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer>-->
  </mat-sidenav-content>
  ppp
</mat-sidenav-container>

<!--
  <mat-sidenav-container class="example-container" >
    <mat-sidenav mode="over" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>-->

<!--
<div fxLayout="row" fxFlex="50%" fxFlex.gt-sm="25%" fxHide.md >

  <mat-sidenav-container>
    <mat-sidenav mode="over" [disableClose]="false" #sidenav>
      Sidenav
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


  <mat-toolbar  color="primary"  class="fixed-header">
    <mat-toolbar-row>
    <span><img  src="./assets/logo.png"  style="width:50px;"></span>
    <a  mat-button  routerLink="/customer-list"  routerLinkActive="active">Customers</a>
    <a  mat-button  routerLink="/customer-create">Create Customer</a>
    <a  mat-button  routerLink="/login">Login</a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
<div fxLayout="column" fxFlex >vsdvsdv</div> -->
<router-outlet></router-outlet>
