
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let row">{{row.position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.userName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="password">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let row">{{row.password}}</mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

</mat-table>

